<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            index.jsp    
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AnswerServlet</servlet-name>
        <servlet-class>com.answer.controller.AnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkMail</servlet-name>
        <servlet-class>checkMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdateServlet</servlet-name>
        <servlet-class>com.profileupdate.controller.ProfileUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/Welcome to Technical Forum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/Home Page</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServletForSignUp</servlet-name>
        <servlet-class>com.login.controller.RegisterServletForSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.login.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServletForSignUp</servlet-name>
        <url-pattern>/RegisterServletForSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PostOperation</servlet-name>
        <servlet-class>com.post.controller.PostOperation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostOperation</servlet-name>
        <url-pattern>/PostOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerServlet</servlet-name>
        <url-pattern>/AnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkMail</servlet-name>
        <url-pattern>/checkMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdateServlet</servlet-name>
        <url-pattern>/ProfileUpdateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
